* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../src/fonts/TTLakes/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../src/fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
    url("../src/fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "TT Lakes";
  width: 320px;
  height: 100vh;
  box-shadow: 20px 10px 25px 5px #dadce0d9;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 1.76vh;
  padding-bottom: 3.12vh;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
}
.button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
}
.button__icon {
  display: block;
  margin: auto;
}
.button:hover {
  opacity: 0.5;
  transition-duration: 2s;
}
.header__logo {
  height: 51px;
  margin-left: 17px;
}
.header > .button:last-child {
  margin-left: auto;
}
.basic {
  height: 48%;
  padding-top: 4.52vh;
  margin-bottom: auto;
}
.basic__navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.basic__navigation > a {
  text-decoration: none;
  color: #1B1C21;
}
.basic__navigation > a:first-child {
  color: #7E7E82;
}
.basic__navigation > a:first-child:before {
  content: '';
  position: absolute;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  left: 0;
  margin-top: -4px;
}
.footer {
  position: absolute;
  bottom: 3.12vh;
  display: flex;
  flex-direction: column;
  width: 90%;
}
.footer__container-buttons {
  display: flex;
  justify-content: space-between;
  width: 53%;
}

.footer > a, .footer__container > a {
  text-decoration: none;
  color: #1B1C21;
}
.footer__email {
  margin-top: 1.57vh;
}
.footer__tel {
  margin-top: 1.18vh;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.footer__container {
  display: flex;
  margin-top: 4vh;

}
.footer__container > a:not(last-child) {
  margin-right: 7px;
}
.footer__container > a:first-child {
  color: #7E7E82;
}