* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "TT Lakes";
  src: url("TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../src/fonts/TTLakes/TTLakes-Medium.eot") format("embedded-opentype"),
    url("../src/fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
    url("../src/fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "TT Lakes";
  width: 320px;
  position: fixed;
  left: 0;
  box-shadow: 20px 10px 25px 5px #dadce0d9;
}
.header {
  display: flex;
  align-items: center;
  margin: 18.73px 24px;
}
.element {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
}
.element__icon {
  margin: auto;
}
.element:hover {
  opacity: 0.5;
  transition-duration: 2s;

}
.header__logo {
  height: 51px;
  margin-left: 17px;
}
.header__element:last-child {
  margin-left: auto;
}
.basic {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 46px;
  border: 1px solid transparent;
}
.basic__navigation {
  display: flex;
  flex-direction: column;
}
.basic__navigation > a {
  text-decoration: none;
  color: #1B1C21;
}
.basic__navigation > a:not(last-child) {
  margin-bottom: 32px;
}
.basic__navigation > a:first-child {
  color: #7E7E82;

}
.status__1::before {
  content: '';
  display: block;
  position: absolute;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 4px;
  height: 32px;
  background-color: #41F6D7;
  left: 0;
  margin-top: -4px;
}
.footer {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 268px;
}
.footer__container {
  display: flex;

}
.footer__element > button:not(:last-child) {
  margin-right: 16px;
}
.footer > a, .footer__container-lang > a {
  display: block;
  text-decoration: none;
  color: #1B1C21;
}
.footer__email {
  margin-top: 16px;
}
.footer__tel {
  margin-top: 12px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.footer__container-lang {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
}
.footer__container-lang > a:not(last-child) {
  margin-right: 7px;
}
.footer__container-lang > a:first-child {
  color: #7E7E82;
}